.starting {
  margin: 3rem auto;
  text-align: center;
}

.starting h1 {
  font-size: 5rem;
}


.image{
  background-image: url("./image.png");
  height: 460px;
  width: 1000px;
  background-size: contain;
  background-size: 100%;
  border-radius: 2rem;
}